.library {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    background-color: white;
    height: 100%;
    overflow: scroll;
    box-shadow: 4px 0px 8px -1px rgba(182, 181, 181, 0.5);
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.5 ease;
    h2 {
        padding: 2rem;
    }
}
    .library-song {
        display: flex;
        align-items: center;
        padding: 1rem 2rem;
        transition: all 0.2 ease-out;

        img {
            width: 30%;
        }

        &:hover {
            background-color: rgb(218, 205, 250);
        }
    }

    .song-description {
        padding-left: 1rem;
        h3 {
            font-weight: 400;
            font-size: 1rem;
        }
        h4 {
            font-size: 0.7rem;
            color: rgb(122, 121, 121);
        }
    }

    .selected {
        background-color: rgb(163, 185, 233);
    }

    .active {
        transform: translateX(0%);
        opacity: 1;
        transition: all 0.5s ease;
    }

    @media screen and (max-width: 768px) {
        .library {
          width: 100%;
        }
      }
